// ! color
$main-clr: #64aabe;
$black-clr: #000;
$white-clr: #fff;
$gray-clr: #f5f5f7;
$purple-clr: #9b7396;
$gradient-clr: linear-gradient(
  95deg,
  #72b9cd 0%,
  #77afcf 39.26%,
  #92a0c3 65.42%,
  #a57da0 99.02%
);
// ! typography color
$title-clr: #1D1D1D;
