@use "../utils/mixin";
@use "../utils/variables" as var;

.contacts
{
    .container
    {
        @include mixin.flex(center,center);
        column-gap: 24px;
    }
    .contact-info
    {
        border-radius: 36px;
        width: 50%;
        height: 722px;
        background: var.$purple-clr;
        padding: 94px 60px;
        h2 
        {
            color: var.$white-clr;
        }
        .subtitle
        {
            color: var.$white-clr;
            font-family: "Jost", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 38px; 
            margin: 107px 0 40px 0;
        }
        .contact-menu li 
        {
            @include mixin.flex(center,start);
            &:not(:last-child)
            {
                margin-bottom: 12px;
            }
            p 
            {
                color: var.$white-clr;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 26px;
            }
        }
        a 
        {
            @include mixin.flex(center,start);
        }
        .social
        {
            margin-top: 107px;
            ul 
            {
                @include mixin.flex(center,start);
                column-gap: 20px;
            }
            li 
            {
                &:hover
                {
                    svg 
                    {
                        rect 
                        {
                            fill: transparent;
                        }
                        path 
                        {
                            fill: var.$white-clr;
                        }
                    }
                }
            }
        }
    }
    .contact-form
    {
        padding: 90px 80px;
        height: 722px;
        width: 50%;
        border-radius: 36px;
        background: var.$gray-clr;
        text-align: center;
        .main-title 
        {
            color: var.$purple-clr;
        }
        h4 
        {
            @include mixin.small-text;
            margin: 12px 0 24px 0;
        }
        input 
        {
            border-radius: 26px;
            border: 2px solid  #999;
            width: 474px;
            height: 76px;
            padding: 37px 30px;
            color: var.$title-clr;
            font-size: 16px;
            font-family: "Wix Madefor Display", sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            outline: none;
            margin-bottom: 14px;
            &::placeholder
            {
                font-family: "Wix Madefor Display", sans-serif;
                color: var.$title-clr;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
            }
        }
        .mail
        {
            margin-bottom: 0;
        }
        .conditions
        {
            margin: 9px auto;
            @include mixin.flex(center,start);
            width: 471px;
            column-gap: 8px;
            p 
            {
                color: var.$title-clr;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                text-align: start;
                width: 432px;
                a 
                {
                    text-decoration: underline;
                    color: var.$black-clr;
                }
            }
        }
        button 
        {
            height: 76px;
            padding: 34px;
            width: 474px;
            border-radius: 30px;
            border: 3px solid var.$purple-clr;
            outline: none;
            color: var.$purple-clr;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            @include mixin.flex(center,center);  
            margin: 36px auto;
            transition: all 0.5s ease;
            &:hover
            {
                background-color: #BB93B6;
                border-color: #BB93B6;
                color: var.$white-clr;
            }
            &:active
            {
                background-color: #9B7396;
                border-color: #9B7396;
            }
        }
        .check-box
        {
            width: 24px;
            height: 24px;
            border-radius: 6px;
            border: 2px solid var.$purple-clr;
            cursor: pointer;
            @include mixin.flex(center,end);
            .check
            {
                position: relative;
                width: 13px;
                height: 2px;
                background-color: var.$purple-clr;
                transform: rotate(118deg) translateY(1px);
                border-radius: 2px;
                visibility: hidden;
                opacity: 0;
                &::after
                {
                    position: absolute;
                    content: "";
                    width: 8px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: var.$purple-clr;
                    transform: rotate(95deg) translate(3px, -2px);
                }
            }
        }
        .check-box.checked 
        {
            .check
            {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}