@use "../utils/mixin";
@use "../utils/variables" as var;
// ! header
.header
{
    .container
    {
        @include mixin.flex(center,space-between);
        padding: 30px 0;
        position: relative;
    }
    &-center 
    {
        transition: 0.3s linear;
        .menu
        {
            @include mixin.flex(center,center);
            column-gap: 36px;
            &-link 
            {
                @include mixin.small-text;
                padding: 14px 22px;
                border-radius: 18px;
                border: 2px solid var.$main-clr;
                font-weight: 600;
                &:hover
                {
                    background:  var.$main-clr;
                    color: var.$white-clr;
                }
            }
        }
        .header-close
        {
            display: none;
        }
        
    }
    &-center.active 
    {
        visibility: visible;
        opacity: 1;
    }
    &-btn 
    {
        .header-bars
        {
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
            outline: none;
            display: none;
        }
        
    }
    &-right 
    {
        @include mixin.flex(center,center);
        column-gap: 18px;
        .header-search
        {
            border-radius: 16px;
            border: 2px solid var.$main-clr;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: transparent;
            outline: none;
            @include mixin.flex(center,center);
            &:hover
            {
                background:  var.$main-clr;
                svg 
                {
                    path 
                    {
                        stroke: var.$white-clr ;
                    }
                }
            }
        }
        .header-mail
        {
            border-radius: 16px;
            border: 2px solid var.$main-clr;
            width: 50px;
            height: 50px;
            cursor: pointer;
            @include mixin.flex(center,center);
            &:hover
            {
                background:  var.$main-clr;
                svg 
                {
                    path 
                    {
                        stroke: var.$white-clr ;
                    }
                }
            }
        }
        .header-close
        {
            display: none;
        }
    }
    .search-panel
    {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        max-width: 1320px;
        width: 100%;
        padding: 40px;
        background-color: var.$white-clr;
        border-radius: 0px 0px 30px 30px;
        @include mixin.flex(center,space-between);
        gap: 40px;
        z-index: -1;
        transition: 0.5s;
        form 
        {
            width: 1000px;
            position: relative;
            input 
            {
                width: 100%;
                height: 60px;
                padding: 0px 30px;
                border-radius: 24px;
                background: var.$gray-clr;
                // text
                @include mixin.small-text;
                outline: none;
                border: none;
            }
            .tools-btn
            {
                background: var.$gray-clr;
                width: 105px;
                height: 60px;
                position: absolute;
                top: 0;
                right: 0;
                border-top-right-radius: 24px;
                border-bottom-right-radius: 24px;
                
            }
            .clear
            {
                display: none;
            }
            .search-btn 
            {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 30px;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                width: 28px;
                height: 28px;
            }
            .hor-line
            {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 64px;
                height: 30px;
                width: 2px;
                background-color: #999;
            }
            .clear-input
            {
                background-color: transparent;
                border: none;
                outline: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 76px;
                width: 28px;
                height: 28px;
                cursor: pointer;
            }
        }
        .close
        {
            min-width: 50px;
            min-height: 50px;
            border-radius: 16px;
            border: 2px solid var.$main-clr;
            @include mixin.flex(center,center);
            background-color: transparent;
            cursor: pointer;
        }
    }
    .search-panel.active
    {
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
}